@media only screen and (max-width: 540px) {
  .container {
    padding: 0px 0px 10px 0px;
  }
  h1 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 50px !important;
  }
  p {
    font-size: 15px !important;
  }
  .section-stats {
    width: 90% !important;
  }
  .stats-detail h3 {
    font-size: 40px !important;
  }
  .popular-heading {
    margin-top: 80px !important;
    color: white;
  }
  .popular-heading hr {
    width: 80px !important;
    height: 4px !important;
    color: #ffa723 !important;
    opacity: 100% !important;
    margin: auto !important;
  }
  .popular-heading h2 {
    margin-top: 10px !important;
  }
  .popular-heading p {
    font-size: 10px !important;
  }
  .section-content .section-travel .card-travel {
    margin-top: 50px !important;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .card-whyus {
    margin-left: 20px;
    margin-right: 20px;
  }
  .card-love {
    margin-left: 20px;
    margin-right: 20px;
  }
  .text-logo h3 {
    margin-top: 20px;
    margin-left: 0 !important;
  }
  .content-center img {
    margin-top: 20px !important;
  }
  .content-center h5 {
    font-size: 15px !important;
  }
  .card-login {
    width: 90% !important;
  }
  .layer-white {
    width: 100% !important;
  }
  .login {
    margin-top: 50px !important;
  }
  .login h1 {
    font-size: 40px !important;
  }
  .layer-white {
    margin-top: 80px !important;
    border-radius: 20px;
  }
  .bg-love {
    width: 90% !important;
    margin: 20px !important;
    border-radius: 10px;
  }
  .section-love {
    padding: 10px !important;
    text-align: center;
    margin-top: -240px !important;
  }
  .section-love hr {
    margin: auto !important;
  }
  .section-love h2 {
    margin-top: 30px;
    text-align: center;
    margin-left: 10px;
  }
  .section-love p {
    margin-left: 30px;
    text-align: center;
  }
  .card-whyus {
    margin-top: 30px !important;
  }
  .col-lg-p {
    margin-top: 70px;
    width: 100% !important;
  }
  .section-network {
    padding: 10px !important;
    text-align: center;
    margin: 20px !important;
  }
  .section-network hr {
    margin: auto;
  }
  .section-network h2 {
    margin-top: 30px;
  }
  .section-network .col-test {
    flex: 0 0 auto;
    width: 50%;
    margin-top: 30px;
  }
  .section-footer {
    padding: 50px;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .nav-main {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .section-stats {
    margin-left: 120px;
    margin-right: 120px;
  }
}

@media only screen and (max-width: 900px) {
  .container-fluid {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

body {
  background-color: #f3f3f3;
  font-family: "Source Sans Pro", sans-serif;
  color: #054c62;
}

.navbar-brand img {
  max-height: 60px;
  margin-left: 20px;
}

.btn-navbar-right {
  margin-right: -15px !important;
  height: 70px;
  border-radius: 0 !important;
  border-bottom-right-radius: 10px !important;
  font-size: large;
}

.navbar-collapse ul li {
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: large;
}

.navbar-nav .nav-link.active {
  color: #054c62 !important;
  font-size: large;
  font-weight: 600;
}

.btn-login {
  background-color: #054c62;
  color: white;
}

.btn-login:hover {
  background-color: #ffa723;
  color: white;
}

.dropdown-item {
  color: rgba(0, 0, 0, 0.55) !important;
}

.btn-get-started {
  height: 60px;
  width: 260px;
  background-color: #ffa723;
  padding-top: 14px;
  color: #054c62;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 3px;
  transition: transform 250ms;
}

.btn-get-started:hover {
  background-color: #054c62;
  color: white;
  transform: translateY(-20px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
  padding: 200px 0 145px;
  background-image: url("../images/background.jpg");
  background-size: cover;
  color: white;
  margin-top: -100px;
  height: 750px;
}

header h1 {
  font-size: 65px;
  font-family: "Playfair Display", serif;
}

header p {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
}

.section-stats {
  margin-top: -600px;
  background-color: white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.section-stats .col-md-2 {
  width: 20% !important;
}

.section-stats .stats-detail {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-stats .stats-detail h3 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: -8px !important;
}

.section-stats .stats-detail p {
  color: #9b9b9b;
}

.section-background {
  min-height: 540px;
  background-color: #054c62;
  width: 100%;
}

.section-popular {
  width: 100%;
}

.section-popular .popular-heading {
  margin-top: 100px;
  color: white;
}

.section-popular .popular-heading hr {
  width: 200px;
  height: 4px;
  color: #ffa723;
  opacity: 100%;
  margin: auto;
}

.section-popular .popular-heading h2 {
  margin-top: 20px;
  font-size: 42px;
  font-family: "Playfair Display", serif;
}

.section-popular .popular-heading p {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

.section-content .section-travel .card-travel {
  margin-top: 50px;
  min-height: 320px;
  background-color: silver;
  box-shadow: 5px 5px 10px 0px #506a8157;
  border-radius: 10px;
  padding: 20px;
  transition: transform 250ms;
}

.section-content .section-travel .card-travel:hover {
  transform: translateY(-30px);
}

.section-content .section-travel .card-travel .travel-country {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.section-content .section-travel .card-travel .travel-kota {
  color: white;
  font-size: 26px;
  text-transform: uppercase;
}

.section-content .section-travel .travel-button .btn-travel {
  background-color: #ffa723;
  color: white;
  text-transform: uppercase;
  margin-bottom: -60px;
  box-shadow: 3px 3px 8px 0px #506a8157;
}

.section-content .section-travel .travel-button .btn-travel:hover {
  background-color: #054c62;
}

.section-whyus {
  width: 100%;
  margin-bottom: auto;
}

.section-whyus .popular-heading {
  margin-top: 100px;
  color: #054c62;
}

.section-whyus .popular-heading hr {
  width: 200px;
  height: 4px;
  color: #ffa723;
  opacity: 100%;
  margin: auto;
}

.section-whyus .popular-heading h2 {
  margin-top: 20px;
  font-size: 42px;
  font-family: "Playfair Display", serif;
}

.section-whyus .popular-heading p {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

.card-whyus {
  background: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0px #c6c6c640;
  padding: auto;
  transition: transform 250ms;
  margin-top: 70px;
}

.card-whyus i {
  color: #ffffff;
  font-size: 30px;
  margin-top: 20px;
}

.card-whyus .icon-whyus {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  background: linear-gradient(180deg, #054c62 0%, #4b90a5 100%);
  box-shadow: 1px 10px 20px 0px #bde1ec;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.card-whyus h3 {
  font-size: 24px !important;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.card-whyus p {
  font-size: 10pt;
  margin-left: 20px !important;
  margin-right: 20px !important;
  color: #4b4b4b;
}

.card-whyus:hover {
  background: linear-gradient(180deg, #054c62 0%, #4b90a5 100%);
  box-shadow: 3px 3px 8px 0px #c6c6c640;
  color: white;
  transform: translateY(-30px);
}

.card-whyus:hover i {
  color: #ffa723;
}

.card-whyus:hover .icon-whyus {
  background: white;
  box-shadow: 0px 0px 20px 0px #bde1ec;
}

.card-whyus:hover p {
  color: white;
}

.bg-love {
  background-color: #054c62;
  margin-top: 100px;
  margin-left: 0;
  width: 40%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  min-height: 250px;
}

.section-love {
  margin-top: -180px;
}

.section-love .text-love {
  margin-top: -10px;
}

.section-love hr {
  width: 100px;
  height: 4px;
  color: #ffa723;
  opacity: 100%;
}

.section-love h2 {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 32px !important;
}

.section-love p {
  color: white;
  font-size: 13px;
  margin-right: 20px;
}

.section-love .card-love {
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px #c6c6c640;
  padding: auto;
  height: 180px;
  margin-top: -40px;
}

.section-love .card-love img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-height: 60px !important;
}

.section-love .card-love h4 {
  font-size: medium !important;
  margin-top: 5px;
}

.section-love .card-love p {
  margin-top: -5px;
  color: #4b4b4b;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
}

.section-love .garis {
  float: right;
  margin-right: 80px !important;
  margin-left: auto !important;
  width: 50%;
  height: 1px !important;
  margin-top: 15px;
}

.section-network {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-network hr {
  width: 100px;
  height: 4px;
  color: #ffa723;
  opacity: 100%;
}

.section-network h2 {
  font-family: "Playfair Display", serif;
  font-size: 32px !important;
}

.section-network p {
  font-size: 13px;
  margin-right: 20px;
}

.section-network .card-network {
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px #c6c6c640;
  padding: auto;
  height: 160px;
}

.section-network .card-network img {
  margin: auto !important;
  margin-top: 10px;
  max-width: 100px;
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.section-network .card-network h4 {
  font-size: medium !important;
  margin-top: 5px;
}

.section-network .card-network p {
  margin-top: -5px;
  color: #4b4b4b;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
}

.col-lg-p {
  flex: 0 0 auto;
  width: 22%;
}

.section-footer {
  background-color: #054c62;
  color: white;
}

.section-footer h5 {
  font-weight: bold;
  color: #66b0c7;
  margin-bottom: 20px;
}

.section-footer a {
  color: white;
  text-decoration: none;
}

.section-footer a:hover {
  color: #ffa723;
}

.section-detail-header {
  min-height: 310px;
  background-image: url("../images/header.jpg");
  margin-top: -70px;
}

.section-detail-header .layer {
  background-color: rgba(46, 127, 151, 0.8);
  top: 0;
  left: 0;
  min-height: 310px;
  width: 100%;
}

.section-detail-content {
  margin-top: -180px;
  min-height: 100vh;
  color: white;
}

.section-detail-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 14px;
}

.section-detail-content .breadcrumb-item.active {
  color: #cfa15c;
  font-weight: bold;
}

.section-detail-content .breadcrumb-item + .breadcrumb-item::before {
  color: white !important;
}

.section-detail-content .card-details {
  color: #054c62;
  padding: 30px;
  border-radius: 10px;
}

.section-detail-content .card-details h4 {
  font-weight: 600;
  margin-bottom: 0;
}

.section-detail-content .card-details p {
  color: #4b4b4b;
}

.section-detail-content .card-details h6 {
  text-transform: uppercase;
  color: #054c62;
  font-weight: 600;
}

.section-detail-content .features {
  margin-top: 30px;
}

.section-detail-content .features .border-right {
  border-right: 2px solid #c5c5c5 !important;
}

.section-detail-content .features h6 {
  margin-bottom: 0 !important;
}

.section-detail-content .features p {
  margin-bottom: 0 !important;
}

.section-detail-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-detail-content .features .features-img {
  max-height: 40px;
  float: left;
  margin-right: 5px;
}

.section-detail-content .gallery {
  margin-bottom: 50px;
  overflow: hidden;
}

.section-detail-content .gallery .xzoom-container {
  width: 530px;
  display: block;
  float: left;
}

.section-detail-content .gallery .xzoom-container .xzoom {
  width: 100%;
  box-shadow: none;
  border-radius: 10px;
}

.section-detail-content .gallery .xzoom-thumbs {
  display: inline;
}

.section-detail-content .gallery .xzoom-thumbs .xzoom-gallery {
  box-shadow: none;
  margin-left: 10px;
  border-radius: 10px;
  width: 122px;
}

.section-detail-content .card-right {
  color: #424242;
  padding: 30px;
  border-radius: 10px;
}

.section-detail-content .card-right h4 {
  color: #054c62;
  font-weight: 600;
}

.section-detail-content .btn-join {
  background-color: #054c62;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: 3px 3px 8px 0px #506a8157;
  letter-spacing: 2pt;
  border-radius: 5px;
  margin-top: 20px;
}

.section-detail-content .btn-join:hover {
  background-color: #ffa723;
}

.section-detail-content .member-img {
  height: 50px;
  margin-right: 10px;
}

.section-detail-content .trip-information {
  color: #9b9b9b;
}

.section-detail-content .add-member {
  margin-top: 100px;
  margin-right: 20px;
}

.section-detail-content .btn-add {
  margin-left: 20px;
  background-color: #ffa723;
  color: #3f3f3f;
  text-transform: uppercase;
  box-shadow: 3px 3px 8px 0px #506a8157;
}

.section-detail-content .btn-add:hover {
  background-color: #ffa723;
}

.section-detail-content .disclaimer {
  padding: 10px;
  margin-top: 20px;
  background-color: #dddddd;
  border-radius: 5px;
  width: 450px;
}

.section-detail-content .disclaimer h3 {
  margin-top: 0 !important;
  font-size: 15px;
  font-weight: 600;
}

.section-detail-content .disclaimer p {
  font-size: 13px;
}

.section-detail-content .bank img {
  width: 70px;
}

.section-detail-content .bank .bank-item p {
  color: #054c62;
}

.content-center img {
  margin-top: 100px;
  width: 40%;
  height: auto;
  margin-bottom: 50px;
}

.content-center h2 {
  font-weight: 600;
}

.content-center h5 {
  color: #4b4b4b;
}

.hero {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/bg-right.jpg");
  background-size: auto;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(46, 127, 151, 0.8);
}

.text-logo h3 {
  font-family: "Playfair Display", serif;
  margin-left: 30px;
}

.bg-back {
  background-image: url("../images/background.jpg");
  background-repeat: repeat-y;
  width: 100%;
  min-height: 800px;
}

.layer-white {
  background-color: #e7e7e7;
  width: 70%;
  min-height: 800px;
  float: left;
}

.login {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.login h1 {
  font-weight: 600;
}

.card-login {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}

.btn-log {
  min-width: 100%;
  background-color: #054c62;
  color: white;
  border-radius: 50px;
  height: 45px;
}

.btn-log:hover {
  background-color: #ffa723;
}

.btn-log-light {
  min-width: 100%;
  background-color: #979797;
  color: white;
  border-radius: 50px;
  height: 45px;
}

.login .card-login .form-group input {
  border-radius: 100px;
  background: #e5e9f2;
  border: 0;
  height: 45px;
  padding-left: 20px;
}

.login .card-login .form-group label {
  color: #34364a;
  font-size: 16px;
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */